<div class="lightbox" style="display:block;">
  <div class="lb-wrap">
    <a href="#" class="close">x</a>
    <div class="lb-content">
      <%= form_for :session, url: login_path do |f| %>
        <h1><%= t "sessions.new.title" %></h1>

        <div class="f-item">
          <%= f.label :username %>
          <%= f.text_field :username %>
        </div>

        <div class="f-item">
          <%= f.label :password %>
          <%= f.password_field :password %>
        </div>

        <div class="f-item checkbox">
          <%= f.label :remember_me do %>
            <%= f.check_box :remember_me, {},
              Settings.remember_me, Settings.forget_me %>
            <%= t "sessions.new.remember_me" %>
          <% end %>
        </div>
        <p>
          <%= link_to t("sessions.new.forgot_password"), new_password_reset_path %><br/>
          <%= t "sessions.new.new_user?" %> <%= link_to t("sessions.new.sign_up_now"), signup_path %>
        </p>
        <%= f.submit t("sessions.new.title"), class: "gradient-button" %>
      <% end %>
    </div>
  </div>
</div>
