<% provide :title, t(".title") %>
<div class="content clearfix">
  <h1><%= t ".title" %></h1>

  <%= form_for @user, url: password_reset_path(params[:id]) do |f| %>
    <%= render "shared/error_messages", object: f.object %>

    <%= hidden_field_tag :email, @user.email %>

    <div class="f-item">
      <%= f.label :password %>
      <%= f.password_field :password %>
    </div>

    <div class="f-item">
      <%= f.label :password_confirmation, t(".password_confirmation") %>
      <%= f.password_field :password_confirmation, %>
    </div>

    <%= f.submit t(".update_password"), class: "gradient-button" %>
  <% end %>
</div>
