<% provide :title, t(".title") %>
<div class="content clearfix">
  <h1><%= t ".title" %></h1>
  <%= form_for :password_reset, url: password_resets_path do |f| %>
    <div class="f-item">
      <%= f.label :email %>
      <%= email_field_tag :email, nil %>
    </div>

    <%= f.submit t(".submit"), class: "gradient-button" %>
  <% end %>
</div>
