<div class="js-comment-form js-form comment-forms full hide">
  <h1><%= t "shared.comment" %></h1>
  <%= form_for [commentable, comment], remote: true do |f| %>
    <div class="js-form-errors"></div>
    <div class="f-item">
      <%= f.label :content %>
      <%= f.text_area :content %>
    </div>
    <%= link_to t("shared.cancel"), "javascript:void(0)", class: "js-comment-cancel gradient-button" %>
    <%= f.submit t("shared.comment"), class: "gradient-button" %>
  <% end %>
</div>
