<%= form_for @tour, url: form_url, html: {multipart: true} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <div class="row">
    <div class="col">
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :pictures %>
        <ul class="pictures-list">
          <%= f.fields_for :pictures do |builder| %>
            <%= render "picture_fields", f: builder %>
          <% end %>
        </ul>
        <%= link_to_add_fields t("shared.add"), f, :pictures %>
      </div>

      <div class="form-group">
        <%= label_tag :thumbnail_id %>
        <%= select_tag :thumbnail_id,
          options_for_select(@pictures, f.object.thumbnail&.id) %>
      </div>

      <div class="form-group">
        <%= f.label :departure %>
        <%= f.text_field :departure, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :arrival %>
        <%= f.text_field :arrival, class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.label :overview %>
        <%= f.cktext_area :overview, ckeditor: {toolbar: "mini"}, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :itinerary %>
        <%= f.cktext_area :itinerary,
          ckeditor: {toolbar: "mini", height: Settings.editor_height},
          class: "form-control" %>
      </div>

      <div class="form-group">
        <%= f.submit submit_text, class: "btn btn-primary w-100" %>
      </div>
    </div>
  </div>
<% end %>
