<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= Tour.human_attribute_name :id %></th>
      <th scope="col" class="w-25"><%= Tour.human_attribute_name :name %></th>
      <th scope="col" class="w-25"><%= Tour.human_attribute_name :departure %></th>
      <th scope="col" class="w-25"><%= Tour.human_attribute_name :arrival %></th>
      <th scope="col"><%= t "shared.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% tours.each do |tour| %>
      <tr>
        <th scope="row">
          <%= tour.id %>
        </th>
        <td>
          <%= link_to tour.name, admin_tour_path(tour) %>
        </td>
        <td><%= tour.departure %></td>
        <td><%= tour.arrival %></td>
        <td>
          <%= link_to t("shared.edit"), edit_admin_tour_path(tour),
            class: "btn btn-dark align-self-center" %>
          <%= link_to t("admin.tours.delete.action"), admin_tour_path(tour),
            method: :delete, data: {confirm: t("admin.tours.delete.confirmation")},
            class: "btn btn-danger align-self-center" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate tours %>
