<% provide :title, @tour.name %>

<% content_for :action do %>
  <%= link_to t("admin.trips.new.title"), new_admin_tour_trip_path(@tour),
    class: "btn btn-dark align-self-center" %>
  <%= link_to t("admin.tours.edit.title"), edit_admin_tour_path(@tour),
    class: "btn btn-dark align-self-center" %>
  <%= link_to t("admin.tours.delete.action"), admin_tour_path(@tour),
    method: :delete, data: {confirm: t("admin.tours.delete.confirmation")},
    class: "btn btn-danger align-self-center" %>
<% end %>

<div class="row">
  <div class="col-10 mx-auto bg-light m-2 pt-4">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <%= tab_link t("admin.tours.show.tour_informations"), params[:tab], "info", true %>
      </li>
      <li class="nav-item">
        <%= tab_link t("admin.trips.index.title"), params[:tab], "trips" %>
      </li>
    </ul>
    <div class="tab-content">
      <%= tab params[:tab], "info", true do %>
        <%= render "tour_info" %>
      <% end %>
      <%= tab params[:tab], "trips" do %>
        <%= render "trip_list", trips: @trips %>
      <% end %>
    </div>
  </div>
</div>
