<%= form_for @user, url: form_url,
  html: {multipart: true, class: "form edit-user-form"} do |f| %>
  <%= render "shared/error_messages", object: f.object %>

  <%= image_tag current_user.avatar.url(:medium), class: "img-fluid" %>

  <div class="f-item">
    <%= f.label :avatar %>
    <%= f.file_field :avatar, class: "form-control-file" %>
  </div>

  <div class="f-item">
    <%= f.label :username %>
    <%= f.text_field :username, class: "form-control", disabled: true %>
  </div>

  <div class="f-item">
    <%= f.label :email %>
    <%= f.email_field :email, class: "form-control", disabled: true %>
  </div>

  <div class="f-item">
    <%= f.label :first_name %>
    <%= f.text_field :first_name, class: "form-control" %>
  </div>

  <div class="f-item">
    <%= f.label :last_name %>
    <%= f.text_field :last_name, class: "form-control" %>
  </div>

  <%= f.submit t(".save_changes"), class: "gradient-button" %>
<% end %>
