<h1 class="center"><%= t ".title" %></h1>
<div class="row">
  <div class="pt-2 col-sm-12 col-md-3">
    <div class="profile-sidebar">
      <div class="profile-user-avatar">
        <%= image_tag current_user.avatar.url :thumb %>
      </div>
      <div class="profile-username">
        <%= full_name current_user %>
      </div>
      <ul class="nav profile-menu">
        <li class="profile-menu-item active">
          <%= fa_icon "pencil-square-o", text: t(".account_informations") %>
        </li>
      </ul>
    </div>
  </div>
  <div class="pt-2 col-12 col-md-9 ml-md-auto">
    <div class="profile-content">
      <h2 class="text-center pt-4"><%= t ".account_informations" %></h2>
      <div class="row justify-content-center">
        <div class="col-10 col-md-7">
          <%= render partial: "edit_form", locals: {form_url: user_path(@user)} %>
        </div>
      </div>
    </div>
  </div>
</div>
