<div class="content clearfix">
  <section>
    <h1 class="center"><%= t ".title" %></h1>
    <nav class="inner-nav">
      <ul>
        <li class="active">
          <%= link_to t("shared.settings"), "#MySettings", title: t("shared.settings") %>
        </li>
        <li>
          <%= link_to t(".my_trips"), "#MyTrips", title: t(".my_trips") %>
        </li>
        <li>
          <%= link_to t(".my_reviews"), "#MyReviews", title: t(".my_reviews") %>
        </li>
      </ul>
    </nav>
    <section id="MySettings" class="tab-content">
      <article class="mysettings">
        <h1><%= t ".account_informations" %></h1>
        <%= render "edit_form", form_url: user_path(@user) %>
      </article>
    </section>
    <section id="MyTrips" class="tab-content">
      <article class="mysettings">
        <h1><%= t "users.show.my_trips" %></h1>
        <%= render "trips" %>
      </article>
    </section>
    <section id="MyReviews" class="tab-content">
      <article class="mysettings">
        <h1><%= t "users.show.my_reviews" %></h1>
        <%= render "reviews/reviews", reviews: @reviews %>
      </article>
    </section>
  </section>
</div>
