<% provide :title, t(".title") %>
<div class="content clearfix">
  <h1><%= t ".title" %></h1>
  <div class="password-form">
    <%= form_for resource, as: resource_name, url: password_path(resource_name),
      html: { method: :put } do |f| %>

      <%= devise_error_messages! %>
      <%= f.hidden_field :reset_password_token %>

      <div class="f-item">
        <%= f.label :password %><br />
        <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em><br />
        <% end %>
        <%= f.password_field :password, autofocus: true, autocomplete: "off" %>
      </div>

      <div class="f-item">
        <%= f.label :password_confirmation, t(".password_confirmation") %><br />
        <%= f.password_field :password_confirmation, autocomplete: "off" %>
      </div>

      <div class="actions">
        <%= f.submit t(".update_password"), class: "gradient-button" %>
      </div>
      <%= render "devise/shared/links" %>
    <% end %>
  </div>
</div>
