<header>
  <div class="wrap clearfix">
    <h1 class="logo">
      <%= link_to root_path, class: "navbar-brand logo", title: t("app.title") do %>
        <%= image_tag image_path("txt/logo.png") %>
      <% end %>
    </h1>
    <div class="ribbon">
      <nav>
        <ul class="profile-nav">
          <% if logged_in? %>
            <li class="active">
              <%= link_to t(".profile"), current_user, title: t(".profile") %>
            </li>
            <li>
              <%= link_to t(".logout"), logout_path, method: :delete %>
            </li>
          <% else %>
            <li>
              <%= link_to t(".signup"), signup_path %>
            </li>
            <li>
              <%= link_to t(".login"), login_path, remote: true %>
            </li>
          <% end %>
        </ul>
      </nav>
    </div>
    <div class="contact">
      <span><%= t "shared.support_number" %></span>
      <span class="number"><%= Settings.contact_number %></span>
    </div>
  </div>
  <nav class="main-nav" role="navigation" id="nav">
    <ul class="wrap">
      <% category_roots.each do |root| %>
        <%= render "shared/category", category: root %>
      <% end %>
    </ul>
  </nav>
  </div>
</header>
