<section class="content full">
  <h1><%= t ".title" %></h1>
  <div class="main-search">
    <%= render "search_form" %>
  </div>
  <div class="deals clearfix">
    <%= render @tours %>
    <% if will_paginate @tours %>
      <div class="bottom-nav">
        <a href="#" class="scroll-to-top"><%= t "shared.back_to_top" %></a>
        <div class="pagination">
          <%= will_paginate @tours, container: false %>
        </div>
      </div>
    <% end %>
  </div>
</section>
