<div class="content clearfix">
  <section class="full">
    <section class="gallery" id="crossfade">
      <% @tour.pictures.each do |picture| %>
        <%= image_tag picture.url %>
      <% end %>
    </section>
    <nav class="inner-nav">
      <ul>
        <li class="availability active">
          <%= link_to t(".availability"), "#availability" %>
        </li>
        <li class="description">
          <%= link_to t(".description"), "#description" %>
        </li>
        <li class="reviews">
          <%= link_to t(".reviews"), "#reviews" %>
        </li>
      </ul>
    </nav>
    <section id="availability" class="tab-content" style="display: block;">
      <article>
        <h1><%= t ".trips" %></h1>
        <ul class="trips">
          <% @trips.each do |trip| %>
            <li class="full-width">
              <span><%= t ".from_html", from: l(trip.from) %></span>
              <span><%= t ".to_html", to: l(trip.to) %></span>
              <span>
                <%= t ".slot_html", count: trip.total_people,
                  max: trip.max_people %>
              </span>
              <span><%= t ".price_html", price: number_to_currency(trip.price) %></span>
              <% if logged_in? %>
                <%= link_to t("shared.book"),
                  new_booking_request_path(user_id: current_user.id, trip_id: trip.id),
                  class: "gradient-button" %>
              <% end %>
            </li>
          <% end %>
        </ul>
        <% if will_paginate @trips %>
          <div class="bottom-nav">
            <a href="#" class="scroll-to-top"><%= t "shared.back_to_top" %></a>
            <div class="pagination">
              <%= will_paginate @trips, container: false %>
            </div>
          </div>
        <% end %>
      </article>
    </section>
    <section id="description" class="tab-content" style="display: none;">
      <article>
        <h1><%= Tour.human_attribute_name :departure %></h1>
        <div class="text-wrap">
          <h4><%= @tour.departure %></h4>
        </div>
        <h1><%= Tour.human_attribute_name :arrival %></h1>
        <div class="text-wrap">
          <h4><%= @tour.arrival %></h4>
        </div>
        <h1><%= Tour.human_attribute_name :overview %></h1>
        <div class="text-wrap">
          <%= @tour.overview.html_safe %>
        </div>
        <h1><%= Tour.human_attribute_name :itinerary %></h1>
        <div class="text-wrap">
          <%= @tour.itinerary.html_safe %>
        </div>
      </article>
    </section>
    <section id="reviews" class="tab-content" style="display: none;">
      <article>
        <h1><%= t ".score_breakdown"%></h1>
        <div class="score">
          <%= t ".score_html", score: @tour.avg_stars %>
          <p class="info"><%= t ".based_on", count: @tour.review_count %></p>
        </div>

        <dl class="chart">
        </dl>
      </article>
      <article>
        <h1><%= t ".reviews" %></h1>
        <ul class="reviews js-review-list">
          <% @tour.reviews.each do |review| %>
            <%= render "reviews/review", review: review %>
          <% end %>
        </ul>
      </article>
      <% if logged_in? %>
        <article class="js-new-review">
          <h1><%= t ".new_review" %></h1>
          <%= render "reviews/review_form",
            submit_url: reviews_url,
            submit_text: t("shared.create"),
            review: nil,
            tour: @tour,
            show_avatar: true,
            user: current_user %>
          <%= link_to t(".new_review"), "javascript:void(0)",
            class: "js-new-review gradient-button right" %>
        </article>
      <% end %>
    </section>
  </section>
</div>
