<table class="table table-hover table-striped">
  <thead class="thead-dark">
    <tr>
      <th scope="col"><%= BookingRequest.human_attribute_name :id %></th>
      <th scope="col"><%= BookingRequest.human_attribute_name :tour %></th>
      <th scope="col"><%= BookingRequest.human_attribute_name :user %></th>
      <th scope="col"><%= BookingRequest.human_attribute_name :price %></th>
      <th scope="col">
        <%= BookingRequest.human_attribute_name :number_of_people %>
      </th>
      <th scope="col"><%= t "shared.actions" %></th>
    </tr>
  </thead>
  <tbody>
    <% requests.each do |request| %>
      <tr>
        <th scope="row">
          <%= request.id %>
        </th>
        <td>
          <%= link_to request.trip.name, admin_tour_path(request.trip.tour) %>
        </td>
        <td><%= link_to request.user.username, admin_user_path(request.user) %></td>
        <td><%= number_to_currency request.price %></td>
        <td><%= request.number_of_people %></td>
        <td>
          <%= link_to t("shared.edit"), edit_admin_booking_request_path(request),
            class: "btn btn-dark align-self-center" %>
          <%= link_to t("admin.booking_requests.destroy.action"),
            admin_booking_request_path(request),
            method: :delete,
            data: {confirm: t("admin.booking_requests.destroy.confirmation")},
            class: "btn btn-danger align-self-center" %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
<%= paginate requests, param_name: :request_page %>
