<div class="lightbox" style="display:block;">
  <div class="lb-wrap">
    <%= link_to "x", root_url, class: "close" %>
    <div class="lb-content">
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <h1><%= t ".title" %></h1>
        <%= devise_error_messages! %>

        <div class="f-item">
          <%= f.label :username %>
          <%= f.text_field :username, autofocus: true %>
        </div>

        <div class="f-item">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div class="f-item checkbox">
            <%= f.label :remember_me do %>
              <%= f.check_box :remember_me %>
              <%= t ".remember_me" %>
            <% end %>
          </div>
        <% end -%>

        <div class="actions">
          <%= f.submit t(".title"), class: "gradient-button" %>
        </div>
        <%= render "devise/shared/links" %>
      <% end %>
    </div>
  </div>
</div>
