<%= form_for @category, url: form_url do |f| %>
  <div class="row">
    <div class="col-6 mx-auto">
      <%= render "shared/error_messages", object: f.object %>
      <div class="form-group">
        <%= f.label :name %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <div class="form-group">
        <%= f.label :parent_id %>
        <%= f.select :parent_id, {}, {}, class: "form-control" do %>
          <%= content_tag :option, "", value: "" %>
          <% @categories.each do |c| %>
            <%= content_tag :option, c.name, value: c.id %>
          <% end %>
        <% end %>
      </div>
      <div class="form-group">
        <%= f.submit submit_text, class: "btn btn-primary w-100" %>
      </div>
    </div>
  </div>
<% end %>
