<% provide :title, @user.username %>
<% content_for :action do %>
  <%= link_to t("admin.users.edit.title"), edit_admin_user_path(@user),
    class: "btn btn-dark align-self-center" %>
<% end %>

<div class="row">
  <div class="col-10 mx-auto bg-light m-2 pt-4">
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <%= tab_link t("users.show.account_informations"), params[:tab], "info", true %>
      </li>
      <li class="nav-item">
        <%= tab_link t("admin.booking_requests.index.title"), params[:tab], "requests" %>
      </li>
    </ul>
    <div class="tab-content">
      <%= tab params[:tab], "info", true do %>
        <%= render "user_info" %>
      <% end %>
      <%= tab params[:tab], "requests" do %>
        <%= render "admin/booking_requests/booking_request_list", requests: @requests %>
      <% end %>
    </div>
  </div>
</div>
